body {
  padding-top: 0px;
  height: 100%;
  font-style: normal;
  font-size: 16px;
  margin: 0;
  background-color: white;
  width: 100%;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;

  height: 40px;
  padding-left: 1rem;
  background: white;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

.header-img {
  width: 110px;
}

/* 첫화면 */
.main_visual {
  background: linear-gradient(to top, #ffffff, #9ec0f4);
}
.cont_wrap {
  padding-top: 30px;
  display: flex;
  background-size: 100% 100%;
  margin: 0 auto;
}
.txt_wrap {
  font-weight: bold;
  display: block;
  text-align: center;
  margin: 0 auto;
}
.phrase {
  width: 230px;
  height: 137.1819px;
  line-height: 20px;
}
#btn-News {
  display: block;
  margin: auto;
  width: 170px;
  height: 30px;

  background: #212529;
  border-radius: 12px;

  /* font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center; */

  color: #ffffff;
  margin-top: 11px;
}

.btn-primary {
  border: none;
  font-size: 15px;
  text-decoration: none;
  padding: 4px 15px;
  color: white;
  background-color: #3d84ed;
  /* box-shadow: 1px 1px 1px 1px gray; */
  border-radius: 15px;
  width: 170px;
  height: 30px;
  display: block;
  margin: auto;
  line-height: 25px;
}
.cellphone {
  padding-top: 35px;
}
.cellphone_img {
  width: 305px;
  height: 434.685px;
}

/* 중간설명 */
.comment {
  background-color: #f9f9f9;
  padding: 44px 0px;
}

.comment_txt {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

/* 주요서비스 */
#myTab {
  position: sticky;
  top: 40px;
}
.nav-link {
  background-color: #ffffff;
  color: #000000;
}

.active {
  background-color: #ffffff;
  color: #3d84ed !important;
  z-index: 1;
}
.nav-item {
  width: 50%;
  background-color: white;
  font-size: 18px;
  font-weight: bolder;
}
.tab_txt {
  cursor: pointer;
  text-decoration: none;
}
#home-tab.clicked {
  color: #3d84ed;
}

#profile-tab.clicked {
  color: #3d84ed;
}

#home-tab-pane {
  padding-top: 50px;
}
#profile-tab-pane {
  padding-top: 50px;
}

.tab-content {
  background-color: #ffffff;
}
.tab-content_s {
  padding-bottom: 25.18px;
}
.tab_content {
  padding-left: 27px;
  padding-top: 15px;
  padding-bottom: 60px;

  font-size: 35px;
  font-weight: bold;
  color: black;
  text-align: left;
  max-width: 639px;
  margin: 0 auto;
}
.tab_content_phrase {
  padding-left: 27px;
  padding-top: 15px;
  padding-bottom: 55px;

  font-size: 28px;
  font-weight: bold;
  color: black;
  text-align: left;
  max-width: 639px;
  margin: 0 auto;
}
.little {
  color: #8b95a1;
}
.low {
  color: #d1d6db;
}
.tab_content_phrase3 {
  padding-left: 27px;
  padding-top: 45px;
  padding-bottom: 55px;
}
.tab_content_phrase3-img {
  height: 114px;
  width: 306px;
}
.tab_content_g {
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    rgba(251, 252, 254, 0.99) 9%,
    rgba(240, 245, 253, 0.96) 16%,
    rgba(222, 234, 251, 0.92) 24%,
    rgba(197, 218, 248, 0.86) 31%,
    rgba(164, 197, 245, 0.78) 39%,
    rgba(124, 172, 241, 0.68) 46%,
    rgba(76, 141, 235, 0.56) 53%,
    rgba(22, 107, 230, 0.43) 60%,
    rgba(12, 101, 229, 0.4) 61%,
    rgba(21, 106, 229, 0.4) 70%,
    rgba(49, 124, 232, 0.4) 77%,
    rgba(95, 154, 237, 0.4) 85%,
    rgba(161, 195, 244, 0.4) 92%,
    rgba(245, 248, 253, 0.4) 99%,
    rgba(255, 255, 255, 0.4) 100%
  );
  padding-bottom: 25.18px;
  height: 605px;
}
/* .img1 {
    position: absolute;
    width: 180px;
    height: 364.82px;
    margin-left: 27px;
  }
  .img2 {
    position: absolute;
    width: 180px;
    height: 364.82px;
    margin-left: 152px;
    margin-top: 39px;
  } */
.tab_content_img {
  margin-top: 23.6533px;
  width: 300px;
  height: 415px;
  padding-bottom: 25.18px;
  display: block;
  margin: auto;
}
.tab_content_img_arrow {
  margin-top: 23.6533px;
  width: 350px;
  height: 415px;
  padding-bottom: 25.18px;
  display: block;
  margin: auto;
}
.tab_content_img-one {
  margin-top: 23.6533px;
  width: 200px;
  height: 415px;
  padding-bottom: 25.18px;
  display: block;
  margin: auto;
}
.tab-header {
  position: sticky;
}

/* 좋은 주요 서비스 어필 */
.benefit {
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    rgba(252, 253, 254, 0.99) 18%,
    rgba(242, 247, 253, 0.97) 31%,
    rgba(226, 237, 251, 0.93) 43%,
    rgba(204, 223, 249, 0.88) 54%,
    rgba(175, 204, 246, 0.8) 64%,
    rgba(140, 182, 242, 0.72) 74%,
    rgba(98, 155, 238, 0.61) 84%,
    rgba(51, 125, 233, 0.5) 93%,
    rgba(12, 101, 229, 0.4) 100%
  );

  padding-bottom: 25.18px;
}
.benefit_phrase {
  padding-left: 27px;
  padding-top: 45px;
  padding-bottom: 43px;

  font-size: 28px;
  font-weight: bold;
  color: black;
  letter-spacing: -3px;
  text-align: left;
  max-width: 639px;
  margin: 0 auto;
}
.like {
  max-width: 639px;
  margin: 0 auto;
}

.like_acc_tile {
  margin: auto;
  width: 263px;
  height: 354px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-bottom: 43px;
}
.like_icon1 {
  width: 139px;
  height: 150px;
  margin-top: 38px;
  margin-left: 82px;
}
.like_icon2 {
  width: 149px;
  height: 150px;
  margin-top: 38px;
  margin-left: 57px;
}
.like_icon3 {
  width: 149px;
  height: 114px;
  margin-top: 48px;
  margin-left: 63px;
}
.like_title {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 35px;
  text-align: center;

  color: #000000;

  margin-top: 38px;
}
.like_phrase {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  text-align: center;

  color: #000000;

  margin-top: 17px;
  letter-spacing: -1px;
}

/* 전화번호 받는 부분 */
.phone_number {
  background-color: #2e7acc;
}
.tell {
  max-width: 639x;
  height: 429px;
  margin: 0 auto;
  position: relative;
}
.tell_txt {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  padding-top: 38.26px;
  color: white;
  letter-spacing: -2px;
}
.tell_txt2 {
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  color: white;
  letter-spacing: -2px;
}
.tell_box {
  margin-top: 11.88px;
}
.tel_input {
  display: block;
  margin: auto;

  font-size: 13px;
  color: #1a1f27;
  width: 222px;
  height: 24px;
}
#tel_btn {
  border: #212529;
  display: block;
  margin: auto;
  width: 90px;
  height: 25px;

  background: #212529;
  border-radius: 12px;

  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  text-align: center;

  color: #ffffff;
  margin-top: 11px;
}
.last_Img {
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;

  width: 325.8199px;
  height: 243.6902px;
}

/* footer */
footer {
  overflow: hidden;
  font-size: 12px;
  background-color: #1a1f27;
  margin: auto;
}
.footer {
  max-width: 639px;
  margin: 0 auto;
  height: 177px;
  /* height: 500px; */
}
.copy_area {
  display: flex;
  margin-top: 10px;
}
.logo {
  width: 20px;
  height: 20px;
  margin-left: 20px;
}
.logo2 {
  width: 60px;
  height: 14.1726px;
  margin-left: 8px;
}
#footer_url {
  margin-top: 10px;
  margin-left: 48px;
  font-weight: 700;
}
.footer_url:link {
  color: #b7b7b7;
  text-decoration: none;
}
.footer_content {
  color: #b7b7b7;
  margin-top: 10px;
  margin-left: 48px;
  font-weight: 700;
}
.content_small {
  font-weight: 100;
}

/* 팝업창 */
#pop-up {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  border: none;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  transition: opacity 300ms;
  color: black;
  opacity: 0;
  pointer-events: none;

  background-color: #63a2ff;
  width: 100%;
  height: 301.23px;
  margin: 0;
}

#pop-up.visible {
  opacity: 1;
  pointer-events: auto;
  z-index: 1;
}
#pop-up.close {
  opacity: 0;
  pointer-events: none;
  z-index: 0;
}
.img-pop-up_logo {
  width: 65px;
  height: 65px;
  margin: auto;
  display: block;
  margin-top: 10px;
}
.close {
  /* margin: 0 auto; */
  display: block;
  float: right;
  padding-left: 100%;
}
.img-pop-up_logo2 {
  width: 135px;
  height: 31.896px;
  margin: auto;
  display: block;
  margin-top: 30.21px;
}
.pop-up_txt {
  font-size: 26px;
  /* font-weight: 550; */
  color: white;
  text-align: center;
  margin-top: 15px;
}
.btn-dark {
  width: 300px;
  height: 40px;
  border-radius: 30px;
  font-size: 13px;
  margin-top: 25px;
  line-height: 25px;
}

/* 소식 받아보기 */
#arrow-up {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  border: none;
  background-color: #2e7acc;
  text-decoration: none;
  font-weight: bold;
  width: 100%;
  height: 50px;
  text-align: center;
  transition: opacity 300ms ease-in;

  opacity: 0;
}

#arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
  z-index: 1;
}

.download_btn {
  text-decoration: none;
  font-size: 25px;
  line-height: 50px;
  color: #ffffff;
}

.footer .copy_area span {
  /* line-height: 1.7; */
  color: #333333;
  font-weight: bold;
  display: block;
}
